[submodule "trusted-firmware-m"]
	path = trusted-firmware-m
	url = https://git.trustedfirmware.org/trusted-firmware-m.git
[submodule "mbed-crypto"]
	path = mbed-crypto
	url = https://github.com/ARMmbed/mbed-crypto.git
[submodule "CMSIS_5"]
	path = CMSIS_5
	url = https://github.com/ARM-software/CMSIS_5.git
